<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--NAV BAR CODE BETWEEN THESE LINES-->
	<nav class="navbar navbar-default" id="fullnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">AU ACM</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav" id="infonav">
	        <li class="active"><a href="#">About Us <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Event</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Agenda</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Past<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">2016-2017</a></li>
	            <li><a href="#">2017-2018</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated Event</a></li>

	          </ul>
	        </li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right pull-right" id="groupnav">
	            <li><a href="#">Web Development</a></li>
	            <li><a href="#">Cyber Defense Team</a></li>
	            <li><a href="#">Programming Team</a></li>
	            <li><a href="#">Game Development</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
    <!---->
    <!--Body Layoyut-->
    <div class="container body-content" id="maincontent">
        @RenderBody()
			<div class="" id="renderedbody">
			</div>
			<div class="" id="socialmedia">
			</div>
        <footer id="sitemap">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!--Body close-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
