<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

</head>
<body>
   <!--Navigation Layout-->
	<nav class="navbar navbar-default" id="fullnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="http://www.augusta.edu/"><img id="navlogo" src="~/Images/AugustaUniversity_H_RGB.png"/></a>
	    </div> <!--End of Nav Logo -->

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav" id="infonav">
	        <li><a href="#">About Us</a></li>
	        <li><a href="#">Event</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Agenda</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Past<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">2016-2017</a></li>
	            <li><a href="#">2017-2018</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated Event</a></li>
	          </ul>
	        </li>
	      </ul><!--End of Extra Links -->
	      
	      <ul class="nav navbar-nav navbar-right pull-right" id="groupnav">
	            <li><a href="~/WebDev/Index">Web Development</a></li>
	            <li><a href="~/Cyber/Index">Cyber Defense Team</a></li>
	            <li><a href="~/Programming/Index">Programming Team</a></li>
	            <li><a href="~/GameDev/Index">Game Development</a></li>
	      </ul><!--End of Division Link -->
	    </div><!--End of Navbar -->
	  </div><!--End of Container -->
	</nav>
   <!--Navigation Close -->


   <!--Body Layoyut-->
    <div class="container body-content">
			<div class="row">
                <div class="col-md-10" id="maincontent">
                    <h2>@ViewBag.Title</h2>
                    @RenderBody()
                </div>
                <div class="col-md-2" id="socialmedia">
                    <h2>Social Media</h2>
                </div>
			</div>
        <div class="row">
            <div class="col-md-12">
                <footer id="sitemap">
                    <p>&copy; @DateTime.Now.Year - ACM Website!</p>
                </footer>
            </div>
        </div>

    </div>
    <!--Body close-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
